{% include "header.html" %}

<!-- Page Header-->
<header
  class="masthead"
  style="background-image: url('../static/assets/img/about-bg.jpg')"
>
  <div class="container position-relative px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <div class="page-heading">
          <h1>About Me</h1>
          <span class="subheading">This is what I do.</span>
        </div>
      </div>
    </div>
  </div>
</header>
<!-- Main Content-->
<main class="mb-4">
  <div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <p>
          Hello! I’m Abraham Obubo.
          I’m a Software Engineer with a background in Mechatronics Engineering.
          My journey into programming began during my undergraduate studies, where I explored circuit components,
          microcontrollers, and embedded systems. This hands-on experience gave me a deep understanding of
          how computers work at a fundamental level and sparked my interest in robotics and software development.
        </p>
        <p>
          Through this blog, I share my thoughts on engineering, computer science,
          and cool tech stuff that excites me. Whether you’re into building things, coding,
          or just curious about how technology shapes our world, I hope you find something interesting here.
          Feel free to reach out—I’d love to connect and hear your thoughts!
        </p>
      </div>
    </div>
  </div>
</main>

{% include "footer.html" %}
